*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 9%;
  margin-top: 0.9em;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

main {
  display: flex;
  gap: 9%;
  margin: 4%;
}

section {
  min-width: 38%;
}

#scores-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9em;
}

button {
  background: #fff;
  border: 2px solid;
  box-shadow: 1px 1px 1px;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 700;
  width: 6em;
}

ul {
  border: 2px solid;
  margin-top: 10%;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5em;
  margin-top: 9%;
  width: 73%;
}

form input {
  width: 100%;
  border: 2px solid;
}

form input,
.list {
  font-size: 1.5em;
  font-weight: 500;
  height: 1.75em;
  padding: 0.5em;
}

.list:nth-child(even) {
  background: rgb(230, 224, 224);
}

footer {
  background: rgb(230, 224, 224);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.9% 9%;
  font-size: 1.5em;
  font-weight: 500;
}
